<h2 class="center">Course Data for <%=course.name %>
</h2>
<table class="table">
    <tbody>
        <tr>
            <td>Course</td>
            <td>
                <%= course.title %>
                    </a>"
            </td>
        </tr>
        <tr>
            <td>Description</td>
            <td>
                <%= course.description %>
            </td>
        </tr>
        <tr>
            <td>Enrollment</td>
            <td>
                <%= course.maxStudents %>
            </td>
        </tr>
        <tr>
            <td>Price</td>
            <td>
                <%= course.cost %>
            </td>
        </tr>
    </tbody>
</table>