<h2 class="center">User Data for <%=user.name %>
</h2>
<table class="table">
    <tbody>
        <tr>
            <td>Name</td>
            <td>
                <%= user.name %>
                    </a>"
            </td>
        </tr>
        <tr>
            <td>Email</td>
            <td>
                <%= user.email %>
            </td>
        </tr>
        <tr>
            <td>Zip Code</td>
            <td>
                <%= user.zipCode %>
            </td>
        </tr>
        <tr>
            <td>Num of Courses</td>
            <td>
                <%= users.courses.length %>
            </td>
        </tr>
    </tbody>
</table>